@import "_global.scss";
body {
  background-color: rgb(153, 204, 255);
}
body, html {
    height: 100%;

}
@mixin gridContainer() {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: auto;
}

@mixin shadowPNG() {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

header {
  @include gridContainer();
  .soMe {
    grid-column: 12 / span 1;
    grid-row: 1;
    font-size: 30px;
    margin: 20% 0 0 0;
    &__icon {
      text-align: center;
    }
  }
  .hola {
    font-family: $heading;
    font-size: $heading-size;
    font-weight: lighter;
    color: white;
    grid-column: 3 / span 4;
    grid-row: 1;
    margin-top: 10%;
  }
  .subTitle {
    font-family: $main-text;
    font-size: $subtitle-size;
    color: white;
    grid-column: 3 / span 6;
    grid-row: 2;
    margin-bottom: 18%;
  }
  .waterWave1 {
    z-index: 10;
    grid-row: 3;
    grid-column: 1 / span 13;
    margin-top: 15px;
      .wavy-top {
        width: 100%;
      }
  }
  .waterWave2 {
    z-index: 13;
    grid-column: 1 / span 13;
    grid-row: 3;
  }
  .svaerfisk {
    z-index: 10;
    display: grid;
    grid-column: 2 / span 4;
    grid-row: 3;
    grid-row-end: 4;
    &__image {
      }
  }
}

.divingGirl {
  position: fixed;
  top: 250px;
  z-index: 11; /* ajust this */
  width: 100%;
  display: grid;
  justify-content: center;
  &__girl {
    height: 350px;
    @include shadowPNG();
  }
}

.about {
  background-color: rgb(29, 108, 210);
  @include gridContainer();
  height: 600px;
  &__transparent {
    width: 100%;
    z-index: 13;
    position: absolute;
    margin-top: -19px;
  }
  &__leaf {
      z-index: 10;
    position: absolute;
    padding-left: 20% 0;
      .leaf {
        height: 600px;
      }
  }
  &__hola {
    font-family: $heading;
    font-size: $heading-size;
    font-weight: lighter;
    color: white;
    grid-column: 2 / span 7;
    grid-row: 1;
    z-index: 14;
  }

  &__subTitle {
    font-family: $main-text;
    font-size: $subtitle-size;
    color: white;
    grid-column: 3 / span 8;
    grid-row: 2;
    z-index: 14;
  }
}

.skills {
  background-color: rgb(60, 54, 194);
  @include gridContainer();
  grid-template-rows: 10;
  &__whale {
    z-index: 10;
    display: grid;
    justify-content: center;
    grid-row: 2;
    grid-row-end: 5;
    grid-column: 1 / span 13;
    .whale {
    }
  }
&__hola {
  grid-column: 2 / span 4;
  grid-row: 2;
}

}

.work {
  background-color: rgb(18, 40, 134);
  height: 300px;
}

footer {
  background-color: rgb(7, 34, 62)
}
